/*========== Google fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

:root{
    --first-color:#fff;
    --second-color:#5d9afc;
    --third-color:#000;

    --body-bg-color:#161f33;
    --hover-red-color:#fe5578;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
position: relative;
min-height: 100vh;
background: var(--body-bg-color);
}

.main-section{
    position: relative;
    width: 100%;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .logo{
    z-index: 999;
    position: absolute;
    top: 50px;
    left: 100px;
    color: var(--first-color);
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
}
























































@media screen and (max-width: 1220px){
  /*========== Modals CSS ==========*/

}

/*========== Media queries (max-width: 980px) ==========*/
@media screen and (max-width: 980px){
  /*===== Search box =====*/

}

/*========== Media queries (max-width: 926px) ==========*/
@media screen and (max-width: 926px){
  /*========== Slider navigation CSS ==========*/

  /*========== Main social media links CSS ==========*/

  /*========== Modals CSS ==========*/

}

/*========== Media queries (max-width: 750px) ==========*/
@media screen and (max-width: 750px){
  /*========== Header CSS ==========*/

  /*===== Logo =====*/

  /*========== Modals CSS ==========*/

}

/*========== Media queries (max-width: 700px) ==========*/
@media screen and (max-width: 700px){
  /*===== Main menu =====*/

  /*========== Main social media links CSS ==========*/

  /*========== Modals CSS ==========*/

}

/*========== Media queries (max-width: 450px) ==========*/
@media screen and (max-width: 450px){
  /*===== Logo =====*/

  /*===== Search box =====*/

  /*===== Main menu =====*/

  /*========== Modals CSS ==========*/

}

/*========== Media queries (max-width: 370px) ==========*/
@media screen and (max-width: 370px){
  /*========== Header CSS ==========*/
  
  /*===== Search box =====*/

  /*===== Main menu =====*/

  /*========== Slider cards CSS ==========*/

  /*========== Modals CSS ==========*/

}
      